.detailed-video-card {
  max-width: 1200px;
  width: 95%;
  margin: 20px auto;
  background: #e5e5e5;
  border-radius: 5px;
  filter: drop-shadow(5px 10px 10px rgba(47, 128, 237, 0.25));
}

.go-back-button {
  position: absolute;
  background: #e5e5e5;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.detailed-video-card-container {
  display: flex;
  flex-direction: column;
}

.detailed-video-card-preview {
  width: 100%;
}

.detailed-video-card-preview-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.detailed-video-card-description-block {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.dvcdb-header {
  margin-bottom: 20px;
}

.dvcdb-header-title {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.dvcdb-header-date {
  color: #828282;
  font-size: 12px;
}

.dvcdb-main {
  width: 100%;
}

.dvcdb-main-title {
  color: #000;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}

.dvcdb-main-description {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .detailed-video-card {
    margin: 40px auto;
  }

  .detailed-video-card-container {
    flex-direction: row;
  }

  .detailed-video-card-preview {
    width: 60%;
  }

  .detailed-video-card-description-block {
    width: 40%;
  }

  .dvcdb-header-title {
    font-size: 24px;
  }
}
