<form
  [formGroup]="registrationForm"
  class="registration-form"
  (ngSubmit)="onSubmit()"
>
  <h2>Registration</h2>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" required />
    @if (
      registrationForm.get("email")?.hasError("required") &&
      registrationForm.get("email")?.touched
    ) {
      <mat-error>Please enter an email.</mat-error>
    }
    @if (
      registrationForm.get("email")?.hasError("email") &&
      registrationForm.get("email")?.touched
    ) {
      <mat-error>Provide a valid email address.</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" required />
    @if (
      registrationForm.get("username")?.hasError("required") &&
      registrationForm.get("username")?.touched
    ) {
      <mat-error>Please provide a username.</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" style="margin-bottom: 30px">
    <mat-label>Password</mat-label>
    <input
      matInput
      formControlName="password"
      [type]="hidePassword() ? 'password' : 'text'"
      required
    />
    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="togglePasswordVisibility()"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword()"
    >
      <mat-icon>{{
        hidePassword() ? "visibility_off" : "visibility"
      }}</mat-icon>
    </button>
    @if (
      registrationForm.get("password")?.hasError("weakPassword") &&
      registrationForm.get("password")?.touched
    ) {
      <mat-error>
        Password must be at least 8 characters long and include uppercase,
        lowercase, number, and special character.
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Confirm Password</mat-label>
    <input
      matInput
      formControlName="confirmPassword"
      [type]="hidePassword() ? 'password' : 'text'"
      required
    />
    @if (
      registrationForm.hasError("passwordMismatch") &&
      registrationForm.get("confirmPassword")?.touched
    ) {
      <mat-error>Passwords do not match.</mat-error>
    }
  </mat-form-field>

  <div class="buttons-container">
    <a routerLink="/login" mat-button>Login</a>
    <button
      type="submit"
      [disabled]="!registrationForm.valid || submitInProcess()"
      class="button"
      mat-button
    >
      Register
    </button>
  </div>
</form>
