:host {
  margin: 45px auto 0 auto;
  display: flex;
  justify-content: center;
  background: #f2f2f2;
  max-width: 330px;
  padding: 15px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;

  .buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .button {
      background: #2f80ed;
      color: #ffffff;
      width: 124px;
      height: 30px;
      font-size: 12px;
    }

    .button:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}
